<!doctype html>
<html>
    <head>
        <script src="js/intro.js"></script>
    </head>

    <body>
        <% if defined? name && defined? age then %>
            <h3>Okay <%= name %>, so you are <%= age %>.<br>
            Pick 3 favorite numbers.</h3>
            <input type="hidden" id="username" value="<%= name %>">
            <input type="hidden" id="age" value="<%= age %>">

            <input type="number" id="num_1"> 
            <input type="number" id="num_2"> 
            <input type="number" id="num_3"><br>
            <button id="sub_numbers" onclick="postNums()">Submit</button>
        <% elsif defined? name then %>
            <h3><%= name %>, how old are you?</h3>
            <input type="hidden" id="username" value="<%= name %>">
            <input type="number" id="age"> 
            <button id="sub_age" onclick="postAge()">Submit</button>
        <% else %>
            <h3>Hello! What is your name?</h3>
            <input type="text" id="username"> 
            <button id="sub_name" onclick="postName()">Submit</button>
        <% end %>
        <p id="error_out"></p>
    </body>
</html>